<html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
	<% if(articles.length > 0) { %>
	<div class="container mt-4">
		<div class="card mb-4 mt-4">
		<h1>My Account</h1>
		<label for="email" class="email ml-2">Email</label>
		<input class="form-control" value="<%= articles[0].email %>" disabled>
	</div>
	<h1 class="head">Your Articles</h1>
	
	<% articles.forEach(article => { %>
		<div class="card mt-2">
			<div class="card-body">
				<h2 class="card-title"> <%= article.title %> </h2>
				<p class="card-date"> <%= article.date.toLocaleDateString() %></p>
				<div class="card-description"> <%= article.description %></div>
			</div>
			<a href="/articles/<%= article.slug %>" class="btn btn-primary mb-2 m-2">Read More </a>
			<form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger ml-2">Delete</button>
            <a href="/articles/edit/<%= article.id %>" class=" edit btn btn-info ml-2">Edit</a>
          </form>
		</div>
	<% }) %>
	<a href="/Logout" class="btn btn-secondary mb-2 mt-2">Logout</a>
	</div>
	<% } else { %>
	<div class="container mt-4">
		<div class="card mb-4 mt-4">
		<h1>My Account</h1>
		<label for="email" class="email ml-2">Email</label>
		<input class="form-control" value="<%= users %>" disabled>
	</div>
	<h1 class="head">No Articles</h1>
	<% } %>
	</body>
</html>